

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"
   ></script>
    <link rel="stylesheet" href="styles.css"/>
    <title>Registration</title>
</head>
<body>
   <div class="container">
       <div class="forms-container">
        <div class="signin-signup">

            <form action="/stdlogin" class="sign-in-form" method="post">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
             <i class="fas fa-user"></i>
             <input type="email" placeholder="Email" name="email">
            </div>
            <div class="input-field">
             <i class="fas fa-lock"></i>
             <input type="password" placeholder="Password" name="password"/>
            </div>
            <input type="submit" class="btn" value="Login">

            <div class="social-media">
           <span style="color:red;">{{error}}</span>
            </div>
            </form>



            <form action="/ngo" class="sign-up-form" method="post">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
             <i class="fas fa-user"></i>
             <input type="text" placeholder="Username" name="name" />
            </div>
            <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" name="email" />
            </div>
            <div class="input-field">
             <i class="fas fa-user"></i>
             <input type="number" placeholder="Phone Number" name="phone" maxlength="10" minlength="10" />
            </div>
            <div>
            	<select name="gender" style="width: 500px;border: none;" class="input-field">
            		<option>Choose Gender</option>
            		<option value="male" name="gender" >Male</option>
            		<option value="female" name="gender" >Female</option>
            		<option value="others" name="gender" >Others</option>
            	</select>
            </div>
            <div class="input-field">
             <i class="fas fa-user"></i>
             <input type="number" placeholder="Age" name="age" />
            </div>
            <div class="input-field">
             <i class="fas fa-user"></i>
             <input type="password" placeholder="Password" name="password"/>
            </div>
            <div class="input-field">
             <i class="fas fa-lock"></i>
             <input type="password" placeholder="Confirm Password" name="confirmpassword" />
            </div>
            <input type="submit" class="btn" value="sign up">
            <!-- <p class="">Don't have an account <a href="#"></a></p> -->

            </form>
        </div>
       </div>

       <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>New Here?</h3>
                <p>Lets join</p>
                <button class="btn transparent" id="sign-up-button">Sign Up</button>
            </div>
            <img src="img/bg1.png" alt="" class="image">
        </div>

        <div class="panel right-panel">
            <div class="content">
                <h3>One of us</h3>
                <p>Lets get into</p>
                <button class="btn transparent" id="sign-in-button">Sign In</button>
            </div>
            <img src="img/images-4.jpeg" alt="" class="image">
        </div>
       </div>
   </div>
 <script src="app.js"></script>
</body>
</html>
